:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

td {
  text-align: center;
  padding: 10px;
  border: 1px solid gray;
}

button {
  display: inline;
  height: 55px;
  margin-top: 15px;
  width: 120px
}

table{
  border-collapse: collapse;
}