<table>
  <thead>
    <tr>
      <td>Frame</td>
      <td colspan="2" *ngFor="let score of scores.list; let index = index">
        {{ index + 1 }}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Scores</td>
      <ng-container *ngFor="let score of scores.list">
        <td>{{ score.first }}</td>
        <td>{{ score.second }}</td>
      </ng-container>
    </tr>
    <tr>
      <td>Running total:</td>
      <td colspan="2" *ngFor="let score of scores.list; let index = index">
        {{ scores.counted[index] || '-' }}
      </td>
    </tr>
  </tbody>
</table>

<form [formGroup]="form">
  <obl-input-wrapper label="First score" [errors]="form.get('first')?.errors" [translations]="translationgs">
    <input formControlName="first" oblInput type="number">
  </obl-input-wrapper>

  <obl-input-wrapper label="Second score" [errors]="form.get('second')?.errors" [translations]="translationgs">
    <input formControlName="second" oblInput type="number">
  </obl-input-wrapper>

  <button oblButton (click)="add()">Submit</button>
  <button oblButton (click)="reset()">Reset</button>
</form>
