:host {
  display: block;
  padding: 10px;
}

td {
  text-align: center;
  padding: 10px;
  border: 1px solid gray;
}

.form {
  display: flex;
  margin-top: 10px;

  obl-input-wrapper {
    display: inline-block;
    width: 150px
  }

  p {
    text-align: center;
  }
}

button {
  display: inline;
  height: 55px;
  margin-top: 5px;
  width: 120px
}