<table>
  <thead>
    <tr>
      <td>Frame</td>
      <td colspan="2" *ngFor="let score of scores.list; let index = index">
        {{ index + 1 }}
      </td>
      <td>Total score</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Scores</td>
      <ng-container *ngFor="let score of scores.list">
        <td>{{ score.first }}</td>
        <td>{{ score.second }}</td>
      </ng-container>
    </tr>
    <tr>
      <td>Running total:</td>
      <td colspan="2" *ngFor="let score of scores.list; let index = index">
        {{ scores.counted[index] }}
      </td>
      <td>
        {{ scores.totalScore }}
      </td>
    </tr>
  </tbody>
</table>

<p>Click on pin to mark it as hitted</p>
<div class="form">
  <div>
    <p>First round</p>
    <obl-bowling-pins #first></obl-bowling-pins>
  </div>
  <div>
    <p>Second round</p>
    <obl-bowling-pins [blocked]="reverse(first.bowling)" [disabled]="scores.getCurrent() > 10"
      #second></obl-bowling-pins>
  </div>
</div>
<div class="row">
  <button oblButton (click)="add(first, second)">Submit</button>
  <button oblButton (click)="reset(first, second)">Reset</button>
</div>