
<div class="row">
  <div [class.hited]="!bowling[9]" [class.blocked]="blocked[9]" (click)="blocked[9] === false && switch(9)"></div>
  <div [class.hited]="!bowling[8]" [class.blocked]="blocked[8]" (click)="blocked[8] === false && switch(8)"></div>
  <div [class.hited]="!bowling[7]" [class.blocked]="blocked[7]" (click)="blocked[7] === false && switch(7)"></div>
  <div [class.hited]="!bowling[6]" [class.blocked]="blocked[6]" (click)="blocked[6] === false && switch(6)"></div>
</div>

<div class="row">
  <div [class.hited]="!bowling[5]" [class.blocked]="blocked[5]" (click)="blocked[5] === false && switch(5)"></div>
  <div [class.hited]="!bowling[4]" [class.blocked]="blocked[4]" (click)="blocked[4] === false && switch(4)"></div>
  <div [class.hited]="!bowling[3]" [class.blocked]="blocked[3]" (click)="blocked[3] === false && switch(3)"></div>
</div>

<div class="row">
  <div [class.hited]="!bowling[2]" [class.blocked]="blocked[2]" (click)="blocked[2] === false && switch(2)"></div>
  <div [class.hited]="!bowling[1]" [class.blocked]="blocked[1]" (click)="blocked[1] === false && switch(1)"></div>
</div>

<div class="row">
  <div [class.hited]="!bowling[0]" [class.blocked]="blocked[0]" (click)="blocked[0] === false && switch(0)"></div>
</div>

<div class="row">{{ counted }} / 10</div>
